<!-- <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
        Button dropdown <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" (click)="setMode('veryEasy')">Very Easy</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="setMode('easy')">Easy</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="setMode('medium')">Medium</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="setMode('hard')">Hard</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="setMode('veryHard')">Very Hard</a></li>
    </ul>
</div> -->
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card" style="background-color: #0000000d">
                    <h4 class="text-center mt-5">Complete the equation to get the result</h4>
                    <div class="answer text-center mt-2">
                        {{ans}}
                    </div>
                    
                <div id="parentDiv">
                    <div id="equationDiv" class="mt-5 text-center">
                    <!-- [innerHTML]="getHtml()" -->
                    
                    </div>
                </div>
                <div class="text-center mt-5" *ngIf="answered">
                    <h4 class="constants" id="userAnswer" *ngIf="isCorrect">Your answer  {{userAns}} is correct</h4>
                    <h4 class="constants" *ngIf="!isCorrect">Your answer {{userAns}} is wrong</h4>
                </div>
                <div class="text-center mt-5 mb-3">
                    <button type="button" class="btn btn-primary" (click)="submit()">Check Answer</button>
                </div>
            </div>
        </div>
    </div>    
</div>