@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto'
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.center-div{
  position: absolute;
  margin: auto;
  background-color: #ccc;
  border-radius: 3px;
}
.answer{
    font-weight: bold;
    font-size: 1.6rem;
}

.symbol{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        font-weight: 700;
        font-size: 1.2rem;
}

.constants{
    font-size: 1.5rem;
}

.p{
    margin: 0.2rem;
}