<!-- <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
        Button dropdown <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item"  (click)="veryEasyDD()">Very Easy</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="easyDD()">Easy</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="mediumDD()">Medium</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="hardDD()">Hard</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="veryHardDD()">Very Hard</a></li>
    </ul>
</div> -->
<div id="parent">

</div>
