/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}