.playBtn{
    position: absolute;
    right: 3rem;bottom: 3rem; 
    background-color: #DFB481;     
    border-radius: 4px; 
    padding-left: 2rem;
    padding-right: 2rem; 
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}


.playBtn:hover{
    background-color: #FFB481;
    cursor: pointer;
}

.instructionTxt{
    font-size: 2.5rem; 
}

.instructionDiv{
    padding-left: 3rem;
     margin-top: 4rem;
}


.right-half-div{
    background-color: #331F18; color: white; padding-top: 1rem
}


.discount-txt{
    font-size: 1.5rem; padding-left: 3rem;
}

.right-divider{
    background-color: burlywood; height: 1.3px;
}

.game-settings{
    padding-left: 3rem; margin-top: 1rem;
}

.left-half-div{
    background-color: #F5D4B3; padding: 0;
}

.li-item-div{
    margin-left: 1rem;
}


.li-title{
    // color: #58514c;
     font-size: 1.8rem;
     margin:0; padding:0.3rem 0.3rem 0rem 0.3rem; 
     line-height: 1; font-weight: 600;
}

.li-mode{
    font-size: 0.9rem; margin:0; padding:0.3rem 0.3rem 0.3rem 0.5rem; font-weight: 600
}

.li-item:hover{
    cursor: pointer;
    background-color: #a0774d;
    color: white !important;
}