<!-- <button (click)="wheelClick()">Wheel Game</button>
<button (click)="equationClick()">Equation Game</button> -->

<div class="container-fluid ">
    <div class="row h-100">
        <div class="col-5 left-half-div">
            <div>
                <div *ngFor="let offer of offers;let i=index" class="pt-3 li-item">
                    <div (click)="saveCurrentItem(i, offer)" class="pl-3">
                        <p class="li-title">{{offer.title}}</p>
                        <p class="li-mode"> {{offer.mode}}</p>
                    </div >
                    <div style="height: 2px; background-color: #39332fba"></div>
                </div>
            </div>
        </div>
        <div class="col-7 right-half-div">
            <div *ngIf="currentItem">
                <p class="discount-txt">{{currentItem.title}}</p>
                <div></div>
                <div class="game-settings">
                    <div class="d-inline-block">
                        <p class="mb-1">Game Mode</p>
                        <p class="mb-1">Number of Turns</p>
                        <p class="mb-1">Timer</p>
                    </div>
                    <div class="d-inline-block" style="padding-left: 5rem;">
                        <p class="mb-1">{{currentItem.mode}}</p>
                        <p class="mb-1">4</p>
                        <p class="mb-1">No</p>
                    </div>
                </div>
                
                <div>
                    <div class="instructionDiv">
                        <p class="instructionTxt">Instructions </p>
                         <p class="mb-1">> The Wheel will spin in both directions randomly</p>
                        <p class="mb-1">> A Timer may appear randomly in some Turns</p>
                        <p class="mb-1">> Try to complete the turn within the provided Time</p>
                        <p class="mb-1">> Tap on "SPIN" button to start spinning the wheel</p>
                        <p class="mb-1">> Tap on "STOP" button to stop the spinning wheel</p>
                        <p class="mb-1">> Selected color will be displayed in the results section</p>
                        <p class="mb-1">> A color will automatically be selected after the time runs out</p>
                        <p class="mb-1">> Try to match the colors in all turns to claim your size</p>
                    </div>
                </div>
                <button class="playBtn" (click)="showOffer()">Play</button>
            </div>

            <div *ngIf="!currentItem">
                <h3 style="margin-top: 40%; margin-left: 12rem;">Select the offer to start the game</h3>
            </div>
        </div>
    </div>
</div>


